%h2{:id => 'title'} Catnomnom.com
.cats{:data => {'url' => cats_url}}
  -@cats.each do |cat|
    .cat-container{:class => 'shadow'}
      .cat
        %a{:href => cat.image, :target => '_blank'}
          %img{:src => cat.image,:alt => cat.title, :title => cat.title}