// Place all the styles related to the catnomnom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body 
{
  background-color: #F2F2EC;
  font: 400 17px/1.6 'Gudea', Verdana, Helvetica, sans-serif;
}

#title
{
  font:  400 42px 'Rancho', Georgia, serif;
  width: 200px;
  margin: 0 auto;
}

.cats
{
  margin:0 auto;
  overflow:hidden;
  top:10px;
  
  .cat-container:nth-child(4n+1)
  {
    // clear:both;
  }
  
  .cat
  {
    // width:200px;
    // height:200px;
    // overflow:hidden;
  }  

  .cat-container
  {
    background-color:#fff;
    padding:10px;
    margin:15px;
    float:left
  }

  .shadow
  {
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  }
}