// Place all the styles related to the catnomnom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body 
{
  background-color: #F2F2EC;
  font: 400 17px/1.6 'Gudea', Verdana, Helvetica, sans-serif;
}

.timer{
  position: absolute;
  left: 5px;
  top: 5px;
}

.paws {
  background-image: asset_url("paws.png", image);
  background-size:100%;
  background-repeat:no-repeat;
  position: absolute;
  left: 5px;
  top: 30px;
  width:16px;
  height:18px;
}


.cats
{
  margin:0 auto;
  overflow:hidden;
  .cat
  {
    width:250px;
    img {
      width:100%;
    }
    p {
      line-height:1.2em;
      font-size:14px;
      margin:0 auto;
    }
  }
  #cats-main {
    overflow: hidden;
    .cat-container
    {
      background-color:#fff;
      padding:10px;
      margin:15px;
      float:left;
      overflow:hidden;
    } 
  }

  .shadow
  {
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  }
}